.dino {
    width: 60px;
    height: 60px;
    background: blue;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    background: green;
    bottom: 20px;
}